body {
    background: linear-gradient(to bottom, #fff, #a1d1fc 25%);
    font-family: "Share Tech";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    & > * {
        grid-column: span 3;
    }
}

main {
    display: grid;
}

#logo {
    width: 100vw;
    max-width: 960px;
    place-self: center;
}

.grass {
    background-image: url("/grass.svg");
    background-size: cover;
    height: 15vh;
}
